

.contenedor{
	background-color:#99ff99;
	height: 500px;
	width:900px;
	position: relative;
}



.contenedor2{
	border: 1px solid white;
	position: relative;
	height: 400px;
	width:800px;
	top: 40px;
	margin: 0 auto;	
}

.arco {
  border: 1px solid white;
  width: 116px;
  height: 193px;
  top: 117px;	
}

.izquierdo {
	position: relative;
	left: -1px;	
}

.circulo {
	border: 1px solid white;
	left: 40%;
  	top: 120px;
  	position: absolute;	
  	width: 180px;
	height: 180px;
	border-radius: 90%; 
	
	
  	
}



.derecho {
	
	right: -1px;
	position: absolute;
}

.b1 {
  
  top: 60px;
  left: 435px;
  position: absolute;
}

.b2 {
  
  top: 130px;
  left: 100px;
  position: absolute;
  

}

.b3 {
  position: absolute;
  top: 300px;
  left: 640px;
}